@using CampNotFound.Data
@model IEnumerable<CampNotFound.Data.Event>

@{
    ViewBag.Title = "Index";
    var t = (List<Category>)ViewBag.CategoriesList;
}
<div class="timeline-container">
    <div class="col-md-3 col-sm-3 datepicker-wrapper">
        <label for="datepicker">Show events for:</label>
        <input type="date" id="datepicker" class="datepicker input-text" />
    </div>
    <div class="col-md-9 col-sm-9 timeline-ribbon">
        <h2>Week 10.04 - 16.04 events</h2>
        <div class="timeline-wrapper">
            <div class="arrows-wrapper">
                <span class="previous-week icon-angle-double-left"></span>
                <span class="previous-day icon-angle-left"></span>
            </div>
            <span class="timeline">
                <span class="timeline-day"><span class="day-name">Mon</span><span class="active-day-indicator"></span></span>
                <span class="timeline-day"><span class="day-name">Tue</span><span class="active-day-indicator"></span></span>
                <span class="timeline-day"><span class="day-name">Wed</span><span class="active-day-indicator"></span></span>
                <span class="timeline-day active-day"><span class="day-name">Thu</span><span class="active-day-indicator"></span></span>
                <span class="timeline-day"><span class="day-name">Fri</span><span class="active-day-indicator"></span></span>
                <span class="timeline-day"><span class="day-name">Sat</span><span class="active-day-indicator"></span></span>
                <span class="timeline-day"><span class="day-name">Sun</span><span class="active-day-indicator"></span></span>
            </span>
            <div class="arrows-wrapper">
                <span class="next-day icon-angle-right"></span>
                <span class="next-week icon-angle-double-right"></span>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="col-md-3 col-sm-3 left-column">

    <div class="categories-wrapper">
        <label>Show events:</label>
        <ul class="category-list">
            <li class="active-category">All events</li>
            @foreach (var item in (List<Category>)ViewBag.CategoriesList)
            {
                <li>@item.Name</li>
            }
        </ul>
    </div>
    <div class="btns-wrapper">
        @Html.ActionLink("All Events", "List", new object { }, new { @class = "btn disabled" })
        @Html.ActionLink("Create New Event", "Create", new object { }, new { @class = "btn" })
        @*<a class="btn">Create New Event</a>*@
    </div>
</div>
<div class="col-md-9 col-sm-9 right-column">
    <div class="events-wrapper">
        @foreach (var item in Model)
            {
            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-4">
                <div class="event">
                    <div class="price">
                        <p>Price</p>
                        <p>@Html.DisplayFor(modelItem => item.Price) @Html.DisplayFor(modelItem => item.Currency.ISOCode)</p>
                    </div>
                    <div>
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                        <img class="event-img" src="~/Content/images/volleyball.jpg">
                        <p class="short-description">@Html.DisplayFor(modelItem => item.Description)</p>
                    </div>
                    @Html.ActionLink("Find out more...", "Details", new { id = item.Id }, new { @class = "btn" })
                    @*<button class="btn">Sign Up</button>*@
                </div>

            </div>
        }

        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>